.app-splash-screen{
    background-color: #8cdb97;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 100%;
    transition: center 0.5s;
}
.app-label{
    color: #fff;
    font-size: 2.5em;
}
.app-logo{
    width: 100px;
    height: 100px;
    color: #fff;
    font-size: 3em;
}
.app-splash-screen-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}