

<app-generate></app-generate>
<section>
    <div class="container mt-5 ">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 m-auto">
                <div class="card p-3 bg-white">
                    <div class="body bg-info boxs">
    
                        <h2 class="bg-info text-center text-warning ">OTP MODE</h2>
                        <div>
                            <span  class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Sent Otp To Mobile">
                              <ul>
                                <a [routerLink]="['/otp']">
                                <img class="ic1 mt-5 " src="https://cdn0.iconfinder.com/data/icons/cyber-security-flat-threat-protection/512/OTP-512.png" width="150px" height="150px">
                            </a>
                            </ul></span> 
                    </div>
                        <h1 class=" ic2 text-danger">(OR)</h1>
                        <div>
                            <span   tabindex="0" data-bs-toggle="tooltip" title="Sent Otp To Email Id">
                                <a [routerLink]="['/otp']">
                                <img class="ic3 mt-2"  src="assets/eotp.png" width="150px" height="150px">
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>